.TeamList{
    width: 700px;
    margin: -85px auto 0;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 6px 8px 0px 0px rgba(0, 0, 0, 0.24);
}
.TeamList__content:after{
	content: "";
	display: table;
	clear: both;
}