@import '../../../sass/main';

.TeamList{
    width: 700px;
    margin: -85px auto 0;
    flex-flow: row wrap;
	@include flex-box;
    @include box-default;
}
// .TeamList__content:after{
// 	content: "";
// 	display: table;
// 	clear: both;
// }